<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <!-- custom css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Font: Lato -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

    <meta charset="UTF-8">
    <title> GamBrew {% block title %} {% endblock title %}</title>
</head>

<body>

    <!-- Page content -->
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    <!-- SCRIPTS -->
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/ba76e96f76.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
    <!-- main.js script -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>